html,
body,
body * {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "ForumRegular";
  font-size: 14px;
  line-height: 1.2;
  color: white;
  box-sizing: border-box;
  // outline: 1px solid red;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #3B181E;
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 95px;
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

h1 {
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  line-height: 170%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.h2-underline {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -22px;
    width: 86px;
    height: 2px;  
    background: white;  
  }
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.button-maroon {
  display: block;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.4);
  padding: 17px 30px;
  border: 1px solid white;
  transition: 0.5s background-color ease-out;

  &:hover {
    background: white;
    color: #3B181E;
  }
}

.button-white {
  display: block;
  font-size: 12px;
  line-height: 170%;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 17px 30px;
  background: white;
  color: #3B181E;
  border: 1px solid white;
}

@media (max-width: 769px) {
  .button-maroon {
    font-size: 15px;
    line-height: 17px;
  }
}

@media (max-width: 426px) {
  .button-maroon {
    font-size: 10px;
    line-height: 11px;
  }

  .promo .show-works-btn {
    max-width: 177px !important;
  }

  .button-white {
    padding: 14px 20px;
  }
}

@media (min-width: 425px) and (max-width: 1921px) {
  h2 {
    font-size: calc(20px + (30 - 20) * ( (100vw - 425px) / ( 1921 - 425) ));
  }
}

@media (max-width: 426px) {
  h2 {
    font-size: 20px;
  }

  .h2-underline {
    text-align: left !important;
    max-width: 425px;
    margin-bottom: -30px;

    &::after {
      width: 0;
      height: 0;
    }
  }
}
